<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>

</head>
<body>
    <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
   <a href="#" th:href="@{/register}">Register</a>
  <div th:if="not ${uzytkownicy.isEmpty()}">
        <h1>All registered times:</h1>
        <table border="1">
        <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th> Mobile</th>
                <th> Nationality</th>
                <th> Gender </th>
                 <th>update></th>
                <th>delete</th>
               
            </tr>
   	<tr th:each="uzytkownic : ${uzytkownicy}" >

                <td th:text="${uzytkownic.firstName}">John</td>
                <td th:text="${uzytkownic.lastName}">Kowalski</td>
                <td th:text="${uzytkownic.email}">usee@interia.pl</td>
                <td th:if="${uzytkownic.mobileNumber}" th:text="${uzytkownic.mobileNumber}">numer telefonu</td>
                 <td th:if=" not ${uzytkownic.mobileNumber}" th:text="'brak numeru'">numer telefonu</td>
                <td th:if="${uzytkownic.nationality}" th:text="${uzytkownic.nationality}">narodosc</td>
                 <td th:if=" not ${uzytkownic.nationality}" th:text="'brak narodowsoci'">narodosc</td>     
                <td th:if="${uzytkownic.gender}" th:text="${uzytkownic.gender}">plec</td>
   <td th:if="not ${uzytkownic.gender}" th:text="'brak podanej plci'">plec</td>
               <td>    
    <a th:href="${'/admin/edit/' + uzytkownic.id}"><span>edit</span></a>
    </td>
        <td><a th:href="${'/admin/delete/' + uzytkownic.id}"><span>delete</span></a>
</td>
           </tr>
        </table>
        </div>
         <div th:if="${uzytkownicy.isEmpty()}">
        <h1>There is no data yet :(</h1>
    </div>
</html>