<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>

</head>
<body>  
  <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
<p> <a href="#" th:href="@{/user}">Back to user page</a> </p>
        <h1>All registered times:</h1>
         <input type="hidden" th:field="${user.id}"/>
        <table border="1">
        <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
         		    <th> Mobile</th>
                <th> Nationality</th>
                <th> Gender </th>
            </tr>
   	<tr>

                <td th:text="${user.firstName}">John</td>
                <td th:text="${user.lastName}">Kowalski</td>
                <td th:text="${user.email}">usee@interia.pl</td>
            <td th:if="${user.mobileNumber}" th:text="${user.mobileNumber}">numer telefonu</td>
                 <td th:if=" not ${user.mobileNumber}" th:text="'brak numeru telefonu '">numer telefonu</td>
                <td th:if="${user.nationality}" th:text="${user.nationality}">narodosc</td>
                 <td th:if=" not ${user.nationality}" th:text="'brak narodowsci'">narodosc</td>     
                <td th:if="${user.gender}" th:text="${user.gender}">plec</td>
   <td th:if="not ${user.gender}" th:text="'brak plci'">plec</td>
  

           </tr>
        </table>

    

</html>