<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>

</head>
<body>  
  <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <h1>All registered times:</h1>
         <input type="hidden" th:field="${user.id}"/>
        <table border="1">
        <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
         
            </tr>
   	<tr>

                <td th:text="${user.firstName}">John</td>
                <td th:text="${user.lastName}">Kowalski</td>
                <td th:text="${user.email}">usee@interia.pl</td>
           
  

           </tr>
        </table>

    

</html>